html, body {
    height: 100%;
    margin: 0px;
}
.container {
    height: 100%;
}

.frontpage div {
  color: white;
  line-height: 200%;
}

.mainHeading{
  font-weight: bold;
}

.pouring {
  margin-top: 20px;
}

.beerGrid{
  text-align: center;
  border: 1px solid;
  border-bottom: none;
  margin-bottom: 20px;
  min-height: 140px;
}

.beerGrid div{
  line-height: 100%;
}

.name{                  /* Beer grid */
  height: 45px;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.description{           /* Beer grid */
  margin-bottom: 18px;
  font-size: 18px;
}

.strength{            /* Beer grid */
  margin-bottom: 5px;
  font-size: 15px;
}

.s-alert-success {
    background: #B0BFC4;  /* your background color here */
    color: #fff  /* your text color here */
}

@media only screen and (max-device-width: 480px) {


  .growlerDescript {
    font-size: 10px;
    line-height: 125%;
  }


  .pouring {
    margin-top: 10px;
  }

  .beerGrid{
    text-align: center;
    border: 1px solid;
    border-bottom: none;
    margin-bottom: 10px;
    min-height: 140px;
  }

  .name{                  /* Beer grid */
    height: 45px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .description{           /* Beer grid */
    margin-bottom: 18px;
    font-size: 18px;
  }

  .strength{            /* Beer grid */
    margin-bottom: 5px;
    font-size: 15px;
  }

}
