html, body {
    height: 100%;
    margin: 0px;
}
.container {
    height: 100%;
}

.frontpage div {
  color: white;
  line-height: 200%;
}

.pouring {
  margin-top: 20px;
}

.beerGrid{
  /*float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  position: relative;*/
  text-align: center;
  border: 1px solid;
  border-bottom: none;
  margin-bottom: 20px;
  min-height: 140px;
}

.growlerDescript {
  /*font-style: italic;*/
}

.mainHeading{
  font-weight: bold;
}

.pouringHeading {
}

.beerGrid div{
  line-height: 100%;
}

.name{
  height: 45px;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.description{
  margin-bottom: 18px;
  font-size: 18px;
}

.strength{
  margin-bottom: 5px;
  font-size: 15px;
}

.s-alert-success {
    background: #B0BFC4;  /* your background color here */
    color: #fff  /* your text color here */
}

/*
.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
