<template name="admin">

  <div class="container">
    {{> adminNav}}
    {{> sAlert}}
    <h1>Beer Admin</h1>
    <div>Update the beer menu & fire out the SMS!</div>
    <hr>
    <h3>Custom Message</h3>
    <input type="text" class="form-control input-lg" id="customMessage" placeholder="e.g. Here's this months Growler list:" value="Here's what's brewing!">
    <h3>Stop Message</h3>
    <input type="text" class="form-control input-lg" id="stopMessage" value="Text GROWLED OUT to +447481347044 to unsubscribe.">
    <div class="checkbox">
      <label>
        <input id="stopCheckBox" type="checkbox" checked> Include Stop Message?
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input id="beerCheckBox" type="checkbox" checked> Include Beer List?
      </label>
    </div>
    <button type="button" class="btn btn-success" id="sendBtn">Send</button>
    <hr>
    <div class="row">
    {{#each beers}}

        <div class="col-lg-4 col-md-5">
          {{#autoForm collection="AllBeers" id=this.name type="update" doc=this}}
            <fieldset>
              {{> afQuickField name='name'}}
              {{> afQuickField name='strength'}}
              {{> afQuickField name='description'}}
            </fieldset>
            <button type="submit" class="btn btn-primary">Update</button>
            <hr>
          {{/autoForm}}
        </div>

    {{/each}}
    </div>
  </div>

</template>
