<template name="frontpage">
  <div class="container">
    {{> header}}
    <div class="row" style="padding: 20px;">

      <div class="col-lg-4 col-md-5">
        <h1>Stewart Brewing Growler Station</h1>
        <div>The name Growler comes from the beer buckets which were available in the early 1890s. These containers had lids which made a growling sound. It was due to carbon dioxide escaping when people walked from the taverns to their homes with a bucket full of takeaway beer!</div>
      </div>

      <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-3" style="padding: 20px;">

        <form class="form-inline">
          <h3>What's brewing?</h3>
          <div>Enter your mobile number to receive updates when the next batch is ready.</div>
          <div class="form-group">
            <input type="number" class="form-control" id="telephoneNo" placeholder="Mobile No.">
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>

      </div>
    </div>

    <div>
        <div class="col-md-12"> {{> whatspouring}}</div>
    </div>

  </div>

</template>
